<div class="outer-wrapper">
  <div class="inner-wrapper">
    <button class="box-button" (click)="createUniqueBox($event)">Create Box</button>
    <div class="boundry" #boundryBox>
        <ng-container *ngFor="let b of boxes; index as i;">
          <div class="box" [ngStyle]="{'z-index': b.boxId, left: b.left + 'px', top: b.top + 'px', 'background-color': b.backgroundColor}" [tabIndex]="b.boxId" id="{{b.boxId}}" (keydown)="moveBox(b, $event)">Box {{b.boxId}}</div>
        </ng-container>
    </div>
  </div>
</div>
